<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading Screen</title>
    <link rel="stylesheet" href="loadingstyle.css">
</head>
<body>
    <div id="loading-screen">
        <div id="image-container">
            <img src="pixa1.png" class="loading-image" alt="Image 1">
            <img src="pixa2.png" class="loading-image" alt="Image 2">
            <img src="pixa3.png" class="loading-image" alt="Image 3">
        </div>
        <div id="loading-bar">
            <div id="progress-bar"></div>
        </div>
        <div class="loader"></div>
    </div>
    <script src="loading_script.js"></script>
</body>
</html>
